NEXT_PUBLIC_MARKETPLACE_ADDRESS=
NEXT_PUBLIC_TRADE_FACTORY_ADDRESS=
NEXT_PUBLIC_INTEREST_CALCULATOR_ADDRESS=
NEXT_PUBLIC_PLATFORM_ADDRESS=
NEXT_PUBLIC_BLOCK_TOKEN_ADDRESS=
NEXT_PUBLIC_EXCHANGE_ADDRESS=
NEXT_PUBLIC_ALCHEMY_ID=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

MONGODB_URI=
JWT_SECRET=
PINATA_JWT=
